<h3>MicroTutoring</h3>

<p>Subjects: <% @subjects.each do |s| %>
    <li>
        Name: <%= s.name %>
    </li>
    <% end %>
</p>
<%= button_to "Add Subject", subjects_new_path, :class => "button medium", :method => :get %>
