<h3>Subject</h3>

<p>Name: <%= @subject.name if @subject.name %></p>

<p>Courses: <% @subject.courses.each do |c| %>
    <li>
        Number: <%= c.number %>
        Description: <%= c.description %>
    </li>
    <% end %>
</p>
<%= button_to "Add Course", courses_new_path, :method => :get %>
